[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pytest = "*"
pylint = "*"
pandas = "*"
xlrd = "*"
openpyxl = "*"

[dev-packages]
twine = "*"
rope = "*"

[requires]
python_version = "3.7"
